body{
    font-size:14px
}
h1,h2,h3,h4,h5,h6{
    font-family:'Open Sans',sans-serif
}
h4{
    line-height:30px
}
.text-center{
    text-align:center
}
p{
    font-weight:300;
    line-height:30px;
    padding-bottom:15px
}
section{
    padding-top:100px;
    padding-bottom:30px
}
.g-pad-bottom{
    padding-bottom:30px
}
.form-control{
    background-color:rgba(255,255,255,0)
}
.navbar{
    font-size:18px
}
.navbar-inverse{
    background:#fff;
    min-height:60px;
    padding-top:5px
}
.navbar-inverse .navbar-nav>.active>a{
    background:#ffffff
}
.navbar-inverse .navbar-brand{
    color:#000;
    font-weight:bolder;
    font-size:25px;
    font-weight:900;
    letter-spacing:2px
}
.navbar-inverse :hover .navbar-brand:hover{
    color:#000
}
.navbar-inverse .navbar-nav>li>a{
    color:#000
}
.navbar-inverse{
    border-color:#D6D6D6
}
.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form{
    border-color:#000
}
.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus{
    color:#000
}
.navbar-toggle{
    background-color:black
}
#callout {
	height: 100%;
	background: rgb(0,0,0,0.5);
}
#home-sec{
    background:url(../images/med-ballot-card.jpg) no-repeat 50% 50%;
    background-attachment:fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    width:100%;
    display:block;
    height:auto;
    min-height:500px;
    color:white;
}
#home-sec-container {
	padding-top: 150px;
	padding-bottom: 100px;
}
.head-main{
    font-size:80px;
    font-weight:900;
    padding:15px;
    text-transform:uppercase
}
.head-last{
    margin-top:25px;
    font-size:50px;
    font-weight:900;
    padding:5px 20px 20px 20px;
    padding:5px
}
small{
    font-size:10px!important;
    font-weight:normal
}
.panel-default > .panel-heading {
    background-color:#000;
    color: white;
}
.icon{
	height:35px;width:35px
}
#footer{
    padding:20px 50px 20px 50px;
    border-top:1px solid #d6d6d6
}
ul {
	padding: 0;
    list-style-type: none;
}
@media all and (max-width:640px) and (min-width:381px){
    .head-main{
        font-size:28px
    }
    .head-last{
        font-size:20px
    }
    #home-sec{
        background:url(../images/ballot-small.jpg) no-repeat 50% 50%;
        min-height:300px;
    }
}
@media all and (max-width:381px) and (min-width:200px){
    .head-main{
        font-size:80px;
        padding:0;
    }
    .head-last{
        padding:0;
        font-size:60px
    }
    #home-sec{
    	background:url(../images/ballot-square.jpg) no-repeat 50% 50%;
    	min-height:300px;
	}
}
